{% extends 'base.html' %}

{% block title %}
سبد خرید
{% endblock title %}

{% block content %}
<div class="row min-vh-100 g-0">
    <!-- header -->
    <div class="col-12">
        {% include 'inc/header.html' %}
    </div>
    <!-- main -->
    <div class="col-12">
        <!-- Main Content -->
        <div class="row">
            <div class="col-12 mt-3 text-center text-uppercase">
                <h2>سبد خرید</h2>
            </div>
        </div>

        <main class="row ">
            <div class="col-12 bg-white py-3 mb-3">

                <div class="row">
                    {% if cart %}
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                        <form class="row">
                            <div class="col-12">
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>محصول</th>
                                            <th>قیمت</th>
                                            <th>تعداد</th>
                                            <th>قیمت کل</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart %}
                                        {% with item.product_obj as product %}
                                        <tr id="product-{{product.id}}">
                                            <td>
                                                <img src="images/image-2.jpg" class="img-fluid">
                                                {{product.product.name}}
                                            </td>
                                            <td id="product-price-{{product.id}}">
                                                {{product.store_price}}
                                            </td>
                                            <td>
                                                <div>
                                                    <div data-product_id="{{product.id}}"
                                                        onclick="changeQuanity(1, this)"><i class="bi bi-plus"></i>
                                                    </div>
                                                    <div id="quantity-{{product.id}}">{{item.quantity}}</div>
                                                    <div class="minus" data-product_id="{{product.id}}"
                                                        onclick="changeQuanity(-1, this)"><i class="bi bi-dash"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="item-price-{{product.id}}">
                                                {{item.total_price}}
                                            </td>
                                            <td>
                                                <div data-product_id="{{product.id}}" class="btn text-danger"
                                                    onclick="remove(this)"><i class="fas fa-times"></i></div>
                                            </td>
                                        </tr>
                                        {% endwith %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="3" class="text-right">Total</th>
                                            <th id="total-price">{{cart.get_total_price}}</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-12 text-right">
                                <a href="{% url 'orders:create' %}" class="btn btn-outline-success">ثبت سفارش</a>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                        <p>سبد خرید شما خالی است.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>
        <!-- Main Content -->
    </div>
    <!-- footer -->
    <div class="col-12 align-self-end">
        {% include 'inc/footer.html' %}
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    var url = window.location.href
    function changeQuanity(n, thisElement) {
        const productId = thisElement.dataset.product_id

        if (n == 1) {
            var changeQuanityUrl = `${url}add/${productId}/${n}`

            // increase price
            setNewPrice(productId, "add")

            // increase quantity
            setQuantity(productId, "add")

            // show - if it is hide
            $('.minus').css('display', 'block')

        } else {
            var changeQuanityUrl = `${url}reduce/${productId}/`

            // decrease price
            setNewPrice(productId, "reduce")

            // decreace quantity
            setQuantity(productId, "reduce")

            // hide minus if the quantity is 1
            if (thisElement.previousElementSibling.textContent == '0') {
                $(thisElement).css('display', 'none')
                $(`#item-price-${productId}`).text('0')
                $(`#quantity-${productId}`).text('0')
            }
        }

        $.ajax({
            url: changeQuanityUrl,
            type: 'GET',
            success: function (data) {
                updateCartCounter(data)
            }
        })
    }

    function setNewPrice(productId, act) {
        const productPriceBox = $(`#product-price-${productId}`)
        var productPrice = parseFloat(productPriceBox.text())

        const itemPriceBox = $(`#item-price-${productId}`)
        var itemPrice = parseFloat(itemPriceBox.text())

        const totalPriceBox = $("#total-price")
        var totalPrice = parseInt(totalPriceBox.text())

        var newItemPrice = 0
        if (act === 'add') {
            newItemPrice = productPrice + itemPrice
            totalPrice += productPrice
        } else if (act === 'remove') {
            totalPrice -= itemPrice
        }
        else {
            newItemPrice = itemPrice - productPrice
            totalPrice -= productPrice
        }
        itemPriceBox.text(`${newItemPrice}.00`)
        totalPriceBox.text(`${totalPrice}.00`)
    }

    function setQuantity(productId, act) {
        const quantityBox = $(`#quantity-${productId}`)
        const quantity = parseInt(quantityBox.text())

        if (act === 'add') {
            quantityBox.text(quantity + 1)
        } else {
            quantityBox.text(quantity - 1)
        }
    }

    function remove(thisElement) {
        productId = thisElement.dataset.product_id

        $.ajax({
            url: `${url}remove/${productId}/`,
            type: 'GET',
            success: function (data) {
                setNewPrice(productId, 'remove')
                $(`#product-${productId}`).remove()
                updateCartCounter(data)
            }
        })
    }

</script>
{% endblock script %}