{% load update_params %}
<header class="row">
    <!-- Header -->
    <div class="col-12 bg-white pt-4">
        <div class="row">
            <div class="col-lg-auto">
                <div class="site-logo text-center text-lg-left">
                    <a href="/">E-Commerce</a>
                </div>
            </div>
            <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                <form action="#">
                    <div class="form-group" style="position: relative;">
                        <div class="input-group">
                            <input id="search" type="search" class="form-control border-dark" placeholder="Search..."
                                required>
                        </div>
                        <div id="search-result">
                            <div class="close">
                                <i class="bi bi-x-lg"></i>
                            </div>
                            <div class="result-items">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-auto text-center text-lg-left header-item-holder">
                <a href="{% url 'cart:cart' %}" class="header-item">
                    <i class="fas fa-shopping-bag me-2"></i><span id="header-qty"
                        class="me-3">{{request.session.cart.quantity}}</span>
                </a>
                <a href="{% url 'inventory:filter' %}" class="header-item">
                    <span>filter</span>
                    <i class="bi bi-funnel"></i></a>

                {% if request.user.is_authenticated %}
                <a href="{% url 'user:profile' %}" class="header-item">
                    <i class="bi bi-person-fill"></i></a>
                <a href="{% url 'user:logout' %}" class="header-item">
                    <span>log out</span>
                    <i class="bi bi-funnel"></i></a>
                {% else %}
                <a href="{% url 'user:login' %}" class="header-item">
                    <span>sign in</span>
                    <i class="bi bi-box-arrow-in-right"></i></a>
                <a href="{% url 'user:signup' %}" class="header-item">
                    <span>sign up</span>
                    <i class="bi bi-person-fill-add"></i></a>
                {% endif %}
            </div>
        </div>

        <!-- Nav -->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                        {% for category in categories|slice:":4" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link"
                                href="{% url 'inventory:filter' %}?{% update_params product__category=category.id %}"
                                id="electronics">{{category}}</a>
                        </li>
                        {% endfor %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'inventory:filter' %}" id="electronics">بیشتر</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Nav -->

    </div>
    <!-- Header -->

</header>