{% load update_params %}
<section class="head" id="head">
    <div class="container flex1 align-items-start">
        <div class="logo">
            <a href="/">
                <h2>Bonik</h2>
            </a>
        </div>

        <div class="search bg-white">
            <div class="flex">
                <i class="fas fa-search"></i>
                <div class="form-group" style="position: relative;">
                    <form action="#">
                        <div class="input-group">
                            <input id="search" type="search" class="form-control border-0" placeholder="Search..."
                                required>
                        </div>
                    </form>
                </div>
            </div>
            <div id="search-result" style="display: none;">
                <div class="close">
                    <i class="bi bi-x-lg"></i>
                </div>
                <div class="result-items">
                </div>
            </div>

        </div>

        <div class="account">
            <div class="icon">
                <a href="{% url 'cart:cart_detail' %}">
                    <i class="far fa-shopping-bag"></i>
                    <span id="header-qty">
                        {{cart.get_total_quantity}}
                    </span>
                </a>

            </div>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="navbar">
                <div class="category flex">
                    <div class="flex">
                        {% for category in categories|slice:":4" %}
                        <a class="nav-link me-2 fw-light text-body-secondary"
                            href="{% url 'inventory:filter' %}?{% update_params product__category=category.id %}"
                            id="electronics">{{category}}</a>
                        {% endfor %}
                        <a class="nav-link fw-light text-body-secondary" href="{% url 'inventory:filter' %}"
                            id="electronics">بیشتر</a>
                    </div>
                </div>
                <nav>
                    <ul id="menuitem">
                        <li>
                            <a href="{% url 'inventory:filter' %}" class="header-item d-flex justify-content-end">
                                <span>filter</span>
                                <i class="bi bi-funnel"></i></a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'user:profile' %}" class="header-item d-flex justify-content-end">
                                <i class="bi bi-person-fill"></i></a>
                        </li>
                        <li>
                            <a href="{% url 'user:logout' %}" class="header-item d-flex justify-content-end">
                                <span>log out</span>
                                <i class="bi bi-funnel"></i></a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'user:login' %}" class="header-item d-flex justify-content-end">
                                <span>sign in</span>
                                <i class="bi bi-box-arrow-in-right"></i></a>
                        </li>
                        <li>
                            <a href="{% url 'user:signup' %}" class="header-item d-flex justify-content-end">
                                <span>sign up</span>
                                <i class="bi bi-person-fill-add"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <span class="fa fa-bars" onclick="menutoggle()"></span>
            </div>
        </div>
    </header>
</section>