<div class="col-12 bg-dark py-2 d-md-block d-none">
    <div class="row">
        <div class="col-auto me-auto">
            <ul class="top-nav">
                <li>
                    <a href="tel:+98921 314 1774"><i class="fa fa-phone-square me-2"></i>0921 314 1774</a>
                </li>
                <li>
                    <a href="mailto:alirahmaniof01@gmail.com"><i
                            class="fa fa-envelope me-2"></i>alirahmaniof01@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="col-auto">
            <ul class="top-nav">
                <li>
                    <a href="register.html"><i class="fas fa-user-edit me-2"></i>Register</a>
                </li>
                <li>
                    <a href="login.html"><i class="fas fa-sign-in-alt me-2"></i>Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>