<section class="delivery mtop">
    <div class="container">
        <div class="content d-flex flex-wrap">
            <div class="box flex">
                <div class="img">
                    <i class="far fa-shipping-fast"></i>
                </div>
                <div class="text">
                    <h3>Free Delivery</h3>
                    <span>Order over</span>
                </div>
            </div>
            <div class="box flex">
                <div class="img">
                    <i class="far fa-money-check-alt"></i>
                </div>
                <div class="text">
                    <h3>Money Gurantee </h3>
                    <span>7 Days Back </span>
                </div>
            </div>
            <div class="box flex">
                <div class="img">
                    <i class="far fa-stopwatch"></i>
                </div>
                <div class="text">
                    <h3>365 Days </h3>
                    <span>For free return </span>
                </div>
            </div>
            <div class="box flex">
                <div class="img">
                    <i class="far fa-credit-card"></i>
                </div>
                <div class="text">
                    <h3>Payment </h3>
                    <span>Secure System </span>
                </div>
            </div>
            <div class="box flex">
                <div class="img">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <div class="text">
                    <h3>Online support </h3>
                    <span>24/7 </span>
                </div>
            </div>
        </div>
    </div>
</section>