<div class="item-box row justify-content-center">
    <div class="item col-lg-3 col-md-4 col-sm-6">
        <div class="item-image"></div>
        <div class="item-content">
            <div class="item-title">Product Title 1</div>
            <div class="item-price">$19.99</div>
            <button class="item-button">Buy Now</button>
        </div>
    </div>
    <div class="item col-lg-3 col-md-4 col-sm-6">
        <div class="item-image"></div>
        <div class="item-content">
            <div class="item-title">Product Title 2</div>
            <div class="item-price">$29.99</div>
            <button class="item-button">Buy Now</button>
        </div>
    </div>
    <div class="item col-lg-3 col-md-4 col-sm-6">
        <div class="item-image"></div>
        <div class="item-content">
            <div class="item-title">Product Title 3</div>
            <div class="item-price">$39.99</div>
            <button class="item-button">Buy Now</button>
        </div>
    </div>
    <div class="item col-lg-3 col-md-4 col-sm-6">
        <div class="item-image"></div>
        <div class="item-content">
            <div class="item-title">Product Title 4</div>
            <div class="item-price">$49.99</div>
            <button class="item-button">Buy Now</button>
        </div>
    </div>
    <div class="item col-lg-3 col-md-4 col-sm-6">
        <div class="item-image"></div>
        <div class="item-content">
            <div class="item-title">Product Title 5</div>
            <div class="item-price">$59.99</div>
            <button class="item-button">Buy Now</button>
        </div>
    </div>
    <div class="item col-lg-3 col-md-4 col-sm-6">
        <div class="item-image"></div>
        <div class="item-content">
            <div class="item-title">Product Title 6</div>
            <div class="item-price">$69.99</div>
            <button class="item-button">Buy Now</button>
        </div>
    </div>
</div>