{% extends 'base.html' %}
{% load static %}
{% load update_params %}

{% block title %}

{% endblock title %}

{% block content %}
<div class="row min-vh-100">
    <!-- header -->
    <div class="col-12">
        {% include 'inc/header.html' %}
    </div>
    <!-- main conten -->
    <div class="col-12">
        <main class="row">
            <div class="col-12 bg-white py-3 my-3">
                <div class="row">
                    <!-- Products -->
                    <div class="col-lg-10 col-md-9">
                        <div class="row">
                            {% for obj in objects %}
                            <!-- Product -->
                            <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                <div class="col-12 bg-white text-center h-100 product-item">
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            <a href="product.html">
                                                <img src="images/image-1.jpg" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <a href="product.html" class="product-name">{{obj.product.name}}</a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <span class="product-price-old">
                                                {{obj.store_price}}
                                            </span>
                                            <br>
                                            <span class="product-price">
                                                {{obj.store_price}}
                                            </span>
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                            <button class="btn btn-outline-dark" type="button"><i
                                                    class="fas fa-cart-plus me-2"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            {% endfor %}
                        </div>
                        <!-- pagination -->
                        <div class="col-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if objects.has_previous %}
                                    <li class="page-item">
                                        <a href="?{% update_params page=1 %}">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?{% update_params page=objects.previous_page_number %}"><i
                                                class="fas fa-long-arrow-alt-left"></i></a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">{{ objects.number }} </a>
                                    </li>
                                    {% if objects.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?{% update_params page=objects.next_page_number %}"><i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            href="?{% update_params page=objects.paginator.num_pages %}">{{objects.paginator.num_pages}}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Products -->

                    <!-- Sidebar -->
                    <div class="col-lg-2 col-md-3 text-center">
                        <div>
                            <span>Filter by</span>
                        </div>
                        <form method="get">
                            {{ filter.form.as_p }}
                            <input type="submit" />
                        </form>
                        <div class="sort mt-3">
                            <div>
                                <span>Sort by</span>
                            </div>
                            <div>
                                <span>Price:</span>
                                <a href="?{% update_params sort='true' sort_field='store_price' ascending='true' %}"><i
                                        class="bi bi-arrow-up-circle"></i></a>
                                <a href="?{% update_params sort='true' sort_field='store_price' ascending='false' %}"><i
                                        class="bi bi-arrow-down-circle"></i></a>

                            </div>
                            <div>
                                <span>Date:</span>
                                <a href="?{% update_params sort='true' sort_field='created_at' ascending='true' %}"><i
                                        class="bi bi-arrow-up-circle"></i></a>
                                <a href="?{% update_params sort='true' sort_field='created_at' ascending='false' %}"><i
                                        class="bi bi-arrow-down-circle"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
        </main>
    </div>
    <!-- footer -->
    <div class="col-12 align-self-end">
        {% include 'inc/footer.html' %}
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
</script>
{% endblock script %}