{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="wrapper">
    {% include 'inc/sidebar.html' %}

    <div id="content">
        <!-- header -->
        {% include 'inc/header.html' %}
        <!-- Categories -->
        <div class="Categories">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>دسته بندی ها</h2>
                            <ul class="categiri">
                                {% for category in data.categories %}
                                <li><a href="#">{{category}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- news brand -->
                <div id="brand" class="brand-bg">
                    <h3>برند ها</h3>
                    <div class="row">

                        {% for brand in data.brands %}
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="brand-box">
                                <i><img src="{% static 'icon/p1.png' %}" />
                                </i>
                                <h4>{{brand.name}}</h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="seemore" href="#">See more</a>
                <!-- end news brand -->

                <!-- news shoes -->
                <div id="shoes" class="shoes-bg">
                    <h3>New shoes</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="shoes-box">
                                <h5>Sale</h5>
                                <i><img src="icon/s1.png" />
                                </i>
                                <h4>Price $<span class="nolmal">100</span></h4>

                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="shoes-box">
                                <i><img src="icon/s2.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="shoes-box">
                                <i><img src="icon/s3.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="shoes-box">
                                <i><img src="icon/s4.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
                <a class="seemore" href="#">See more</a>
            </div>

        </div>
    </div>
    <!-- end news shoes -->

    <!-- end Categories -->

    <section>
        <!--  save -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="save">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="save_box">
                                    <h3>save up to 50%</h3>
                                    <a href="#">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end save -->
    </section>

    <!-- news Jewellery -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="jewellery" class="Jewellery-bg">
                    <h3>New Jewellery</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="Jewellery-box">
                                <h5>Sale</h5>
                                <i><img src="icon/j1.png" />
                                </i>
                                <h4>Price $<span class="nolmal">100</span></h4>

                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="Jewellery-box">
                                <i><img src="icon/j2.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="Jewellery-box">
                                <i><img src="icon/j3.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="Jewellery-box">
                                <i><img src="icon/j4.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
                <a class="seemore" href="#">See more</a>
            </div>
        </div>
    </div>
    <!-- end news Jewellery -->

    <!-- news Kids -->
    <div id="kids" class="Kids_background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Kids-bg">
                        <h3>Kids and Babies</h3>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                <div class="Kids-box">

                                    <i><img src="icon/k1.png" />
                                    </i>
                                    <h4>Price $<span class="nolmal">100</span></h4>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                <div class="Kids-box">
                                    <i><img src="icon/k1.png" /></i>
                                    <h4>Price $<span class="nolmal">100</span></h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="Kids-box">
                                    <i><img src="icon/k1.png" /></i>
                                    <h4>Price $<span class="nolmal">100</span></h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="Kids-box">
                                    <i><img src="icon/k1.png" /></i>
                                    <h4>Price $<span class="nolmal">100</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end news Kids -->

    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <a href="index.html"> <img class="logo1" src="images/logo1.png" /></a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <ul class="sociel">
                                        <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contact us </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"><img src="icon/loc.png" alt="#" /></a>145 londone
                                            <br>uk
                                        </li>
                                        <li>
                                            <a href="#"><img src="icon/call.png" alt="#" /></a>+12586954775
                                        </li>
                                        <li>
                                            <a href="#"><img src="icon/email.png" alt="#" /></a>demo@gmail.com
                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>customer service</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <a href="#">My account</a> </li>
                                        <li><a href="#">Wishlist</a> </li>
                                        <li><a href="#">My Cart</a> </li>
                                        <li><a href="#">Checkout</a> </li>
                                        <li><a href="#">Login</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>corporation</h3>
                                    <ul class="Links_footer">
                                        <li class="active"><a href="#">My account</a> </li>
                                        <li><a href="#">Wishlist</a> </li>
                                        <li><a href="#">My Cart</a> </li>
                                        <li><a href="#"> Checkout</a> </li>
                                        <li><a href="#">Login</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>why choose us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna </p>
                                    <form class="newtetter">
                                        <input class="tetter" placeholder="Your email" type="text" name="Your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a>
                    </p>
                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->


</div>

<div class="overlay"></div>


{% endblock content %}