{% extends 'base.html' %}
{% load static %}
{% load update_params %}

{% block content %}
{% include 'inc/header.html' %}
<!-- brands -->
<section class="home_product">
    <div class="container flex">
        <div class="left_one">
            <div class="box">
                <div class="img">
                    <img src="{% static 'images/image-2.jpg' %}" alt="">
                </div>
                <div class="text top">
                    <h5>{{data.brands.0}}</h5>
                    {% with data.brands.0.products.all.0 as product %}
                    <h2><span>{{product}}</span></h2>
                    <p>{{product.product.description|slice:":155"}}...</p>
                    <a href="{% url 'inventory:filter' %}?brand={{data.brands.0.id}}">خرید</a>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="right_one">
            <div class="box flex1">
                <div class="left">
                    <div class="img">
                        <img src="{% static 'images/image-2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="text">
                        <h5>{{data.brands.1}}</h5>
                        {% with data.brands.1.products.all.1 as product %}
                        <h2><span>{{product}}</span></h2>
                        <p>{{product.product.description|slice:":155"}}...</p>
                        <a href="{% url 'inventory:filter' %}?brand={{data.brands.1.id}}">خرید</a>
                        {% endwith %}
                    </div>
                </div>
            </div>

            <div class="box flex1">
                <div class="right">
                    <div class="text">
                        <h5>{{data.brands.2}}</h5>
                        {% with data.brands.2.products.all.2 as product %}
                        <h2><span>{{product}}</span></h2>
                        <p>{{product.product.description|slice:":155"}}...</p>
                        <a href="{% url 'inventory:filter' %}?brand={{data.brands.2.id}}">خرید</a>
                        {% endwith %}
                    </div>
                </div>
                <div class="left">
                    <div class="img">
                        <img src="{% static 'images/image-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- new products -->
<section class="flash Deals">
    <div class="container mtop">
        <div class="heading flex1">
            <a href="#">مشاهده همه <i class="fas fa-caret-right"></i></a>
            <h2><i class="fas fa-bolt"></i> جدید ترین ها</h2>
        </div>
        <div class="owl-carousel owl-theme">
            {% for product in data.new_products|slice:"8" %}
            <div class="item">
                <div class="img">
                    <span>50% off</span>
                    <a href="{% url 'inventory:detail' slug=product.product.slug%}" class="product-name">
                        <img src="{% static 'images/image-1.jpg' %}" alt="">
                    </a>
                </div>

                <div class="text">
                    <h5><a href="{% url 'inventory:detail' slug=product.product.slug%}"
                            class="product-name">{{product.product.name}}</a></h5>
                    <div class="star flex">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price flex1">
                        <p>{{product.sale_price}}<label> $250.00</label></p>
                    </div>
                    <div>
                        <button data-product_id="{{product.pk}}" class="add-to-cart btn btn-outline-dark"
                            type="button">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- new products -->

<!-- new products -->
<section class="flash Deals">
    <div class="container mtop">
        <div class="heading flex1">
            <a href="#">مشاهده همه <i class="fas fa-caret-right"></i></a>
            <h2><i class="fas fa-bolt"></i>پرفروش ترین ها</h2>
        </div>
        <div class="owl-carousel owl-theme">
            {% for product in data.best_selling|slice:"8" %}
            <div class="item">
                <div class="img">
                    <span>50% off</span>
                    <a href="{% url 'inventory:detail' slug=product.product.slug%}" class="product-name">
                        <img src="{% static 'images/image-3.jpg' %}" alt="">
                    </a>
                </div>

                <div class="text">
                    <h5><a href="{% url 'inventory:detail' slug=product.product.slug%}"
                            class="product-name">{{product.product.name}}</a></h5>
                    <div class="star flex">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price flex1">
                        <p>{{product.sale_price}}<label> $250.00</label></p>
                    </div>
                    <div>
                        <button data-product_id="{{product.pk}}" class="add-to-cart btn btn-outline-dark"
                            type="button">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- new products -->

<!-- options -->
{% include 'inc/options.html' %}
<!-- footer -->
{% include 'inc/footer.html' %}
{% endblock content %}