{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row min-vh-100">
    <div class="col-12">
        {% include 'inc/header.html' %}
    </div>
    <div class="col-12">
        <!-- Main Content -->
        <main class="row">
            {% include 'inc/slider.html' %}
            <!-- Latest Products -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 py-3">
                        <div class="row">
                            <div class="col-12 text-center text-uppercase">
                                <h2>جدید ترین ها</h2>
                            </div>
                        </div>
                        <div class="row">
                            {% for product in data.new_products|slice:"4" %}
                            <!-- Product -->
                            <div class="col-lg-3 col-sm-6 my-3">
                                <div class="col-12 bg-white text-center h-100 product-item">
                                    <span class="new">New</span>
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            <a href="{% url 'inventory:detail' slug=product.product.slug%}">
                                                <img src="{% static 'images/image-1.jpg' %}" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <a href="{% url 'inventory:detail' slug=product.product.slug%}"
                                                class="product-name">{{product.product.name}}</a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <span class="product-price-old">
                                                $500
                                            </span>
                                            <br>
                                            <span class="product-price">
                                                {{product.sale_price}}
                                            </span>
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                            <button data-product_id="{{product.pk}}"
                                                class="add-to-cart btn btn-outline-dark" type="button">Add to
                                                cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Latest Products -->

            <div class="col-12">
                <hr>
            </div>

            <!-- Brands -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 py-3">
                        <div class="row">
                            <div class="col-12 text-center text-uppercase">
                                <h2>برند ها</h2>
                            </div>
                        </div>
                        <div class="row">
                            {% for brand in data.brands %}
                            <!-- Product -->
                            <div class="col-lg-3 col-sm-6 my-3">
                                <div class="brand col-12 bg-white text-center h-100 product-item">
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            <a href="product.html">
                                                <img src="{% static 'images/image-1.jpg' %}" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <a href="product.html" class="product-name">{{brand.name}}</a>
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                            <button class="btn btn-outline-dark" type="button">محصولات</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brandss -->

            <div class="col-12">
                <hr>
            </div>

            <!-- Top Selling Products -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 py-3">
                        <div class="row">
                            <div class="col-12 text-center text-uppercase">
                                <h2>فروش ویژه</h2>
                            </div>
                        </div>
                        <div class="row">
                            {% for product in data.discount_products %}
                            <!-- Product -->
                            <div class="col-lg-3 col-sm-6 my-3">
                                <div class="col-12 bg-white text-center h-100 product-item">
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            <a href="product.html">
                                                <img src="{% static 'images/image-1.jpg' %}" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <a href="product.html" class="product-name">{{product.name}}</a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <span class="product-price-old">
                                                {{product.sale_price}}
                                            </span>
                                            <br>
                                            <span class="product-price">
                                                $500
                                            </span>
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                            <button data-product_id="{{product.pk}}"
                                                class="add-to-cart btn btn-outline-dark" type="button">Add to
                                                cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Selling Products -->

            <div class="col-12 py-3 bg-light d-sm-block d-none">
                <div class="row">
                    <div class="col-lg-3 col ms-auto large-holder">
                        <div class="row">
                            <div class="col-auto ms-auto large-icon">

                            </div>
                            <div class="col-auto me-auto large-text">
                                Best Price
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col large-holder">
                        <div class="row">
                            <div class="col-auto ms-auto large-icon">
                            </div>
                            <div class="col-auto me-auto large-text">
                                Fast Delivery
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col me-auto large-holder">
                        <div class="row">
                            <div class="col-auto ms-auto large-icon">
                            </div>
                            <div class="col-auto me-auto large-text">
                                Genuine Products
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content -->
    </div>
    <div class="col-12 align-self-end">
        {% include 'inc/footer.html' %}
    </div>
</div>

{% endblock content %}