{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
<!-- header -->
<div class="col-12">
    {% include 'inc/header.html' %}
</div>
<div class="product-detail mt-5 flex-wrap">
    <div class="product">
        <!-- Product Images -->
        <div class="product-image">
            <img src="{% static 'images/image-3.jpg' %}" alt="">
        </div>
        <!-- Product Images -->
        <!-- Product Info -->
        <div class="product-info pe-3" dir="rtl">
            <div class="product-name large">
                {{product.product__name}}
            </div>
            <div class="col-12 px-0">
                <hr>
            </div>
            <div class="">
                {{product.product__description}}
            </div>
            <div dir="rtl" class="m-1 ms-3">
                <div class="detail-price mt-2">
                    <span> قیمت: </span>
                    <span>{{product.store_price}}</span>
                </div>
                <div class="category-price mt-2">
                    <span> دسته بندی :</span>
                    <a href="{% url 'inventory:filter' %}?product__category={{product.product__category__id}}"><span>{{product.product__category__name}}</span>
                    </a>
                </div>
                <div class="category-price mt-2">
                    <span>محصول : </span>
                    <a href="{% url 'inventory:filter' %}?brand={{product.brand__id}}">{{product.brand__name}}</a>
                </div>
                <div class="stock-price mt-2">
                    {% if product.stock__units_sold > 0 %}
                    <span> تا کنون فروخته شده<span>{{product.stock__units_sold}}</span></span>
                    {% endif %}


                    {% if product.stock__units == 0 %}
                    <div class="alert alert-danger" role="alert">
                        موجود نیست
                    </div>
                    {% elif product.stock__units < 4 %} <div class="alert alert-danger" role="alert">
                        <span><span>{{product.stock__units}}</span> عدد در انبار باقی مانده</span>
                </div>
                {% endif %}
            </div>
            <div class="detail-price mt-2">
                <button data-product_id="{{product.id}}" class="add-to-cart " type="button"><i
                        class="fas fa-cart-plus me-2"></i>Add to cart</button>
            </div>
        </div>
    </div>
    <!-- Product Info -->
</div>
<div class="col-12 px-0">
    <hr>
</div>
<div class="similars mt-5 p-4">
    <!-- similar products -->
    <div class="owl-carousel owl-theme ">
        {% for product in similar_products %}
        <div class="item">
            <div class="img">
                <a href="{% url 'inventory:detail' slug=product.product.slug%}" class="product-name">
                    <img src="{% static 'images/image-3.jpg' %}" alt="">
                </a>
            </div>

            <div class="text">
                <div class="price flex1">
                    <p>{{product.store_price}}</p>
                </div>
                <div>
                    <button data-product_id="{{product.pk}}" class="add-to-cart btn btn-outline-dark" type="button">Add
                        to
                        cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<!-- footer -->
<div class="col-12 align-self-end">
    {% include 'inc/footer.html' %}
</div>
{% endblock content %}


{% block script %}
<script>
</script>
{% endblock script %}