{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
<div class="row min-vh-100">
    <!-- header -->
    <div class="col-12">
        {% include 'inc/header.html' %}
    </div>
    <!-- main conten -->
    <div class="col-12">
        <main class="row">
            <div class="col-12 bg-white py-3 my-3">
                <div class="row">
                    <!-- Product Images -->
                    <div class="col-lg-5 col-md-12 mb-3">
                        <div class="col-12 mb-3">
                            <div class="img-large border"
                                style="background-image: url('http://localhost:8000/static/images/image-1.jpg')">
                            </div>
                        </div>
                    </div>
                    <!-- Product Images -->

                    <!-- Product Info -->
                    <div class="col-lg-5 col-md-9">
                        <div class="col-12 product-name large">
                            {{product.product__name}}
                        </div>
                        <div class="col-12 px-0">
                            <hr>
                        </div>
                        <div class="col-12">
                            {{product.product__description}}
                        </div>
                    </div>
                    <!-- Product Info -->

                    <!-- Sidebar -->
                    <div class="col-lg-2 col-md-3 text-center">
                        <div class="col-12 sidebar h-100">
                            <div class="row">
                                <div class="col-12">
                                    <div class="detail-price">
                                        <span>{{product.store_price}}</span>
                                        <span> : قیمت </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="category-price">
                                        <a
                                            href="{% url 'inventory:filter' %}?product__category={{product.product__category__id}}"><span>{{product.product__category__name}}</span>
                                        </a>
                                        <span> : دسته بندی </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="category-price">
                                        <a
                                            href="{% url 'inventory:filter' %}?brand={{product.brand__id}}">{{product.brand__name}}</a>
                                        <span> : محصول</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="stock-price">
                                        {% if product.stock__units_sold > 0 %}
                                        <span> تا کنون فروخته شده<span>{{product.stock__units_sold}}</span></span>
                                        {% endif %}

                                        {% if product.stock__units < 4 %} <span> فقط عدد در انبار باقی
                                            مانده<span>{{product.stock__units_sold}}</span></span>
                                            {% endif %}
                                    </div>
                                </div>

                                <div class="col-12 mt-3">
                                    <button data-product_id="{{product.id}}" class="add-to-cart btn btn-outline-dark"
                                        type="button"><i class="fas fa-cart-plus me-2"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
        </main>
    </div>
    <!-- footer -->
    <div class="col-12 align-self-end">
        {% include 'inc/footer.html' %}
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
</script>
{% endblock script %}